<%= link_to("<< Back to List", users_path, :class => 'back-link')%>

<div class= "users show">
  <h2>Show user</h2>

  <table summary="user detail view">
    <tr>
      <th>Name</th>
      <td class="center"><%= @user.first_name + ' ' + @user.last_name %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td class="center"><%= @user.email %></td>
    </tr>
    <tr>
      <th>License Number</th>
      <td class="center"><%= !@user.license_number.blank? ? @user.license_number : "none" %></td>
    </tr>
    <tr>
      <th>licensing_agency</th>
      <td class="center"><%= !@user.licensing_agency.blank? ? @user.licensing_agency : "none" %></td>
    </tr>
    <tr>
      <th>admin</th>
      <td class="center"><%= status_tag(@user.admin) %></td>
    </tr>    
    <tr>
      <th>Date account created</th>
      <td class="center"><%= @user.created_at %></td>
    </tr>
  </table>

</div>
